
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header {
  background-color:aquamarine;
}

.headbox {
  width: 90%;
  padding: 4px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.searchbycolor{
  border: 2px solid wheat;
  padding: 8px;
  border-radius: 15px;
}

.cls{
  display: inline-block;
  width: 50px;
  height: 35px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
}

h3{
  position: relative;
  bottom: 6px;
  font-size: 30px;
}    

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

#black {
  background-color: black;
}

#btn{
  width: 100px;
  height: 50px;
  background-color: rgb(241, 205, 139);
  margin-top: 5px;
  border-radius: 20px;
}

#btn1:hover{
  background-color: red;
  color: white;
}

.inputbox{
  display: flex;
  position: absolute;
  top: 90px;
}

.inputtask{
  width: 320px;
  height: 250px;
  background-color: aqua;
  margin-left: 250px;
  margin-top: 40px;
}

#item{
  font-size: 30px;
}

#btn2{
  width: 90px;
  height: 40px;
  background-color: orange;
  border-radius: 20px;
  margin: 150px 130px;
}


.choosecolor{
  width: 80px;
  height: 250px;
  background-color: black;
  margin-top: 40px;
  margin-right: 261px;
  padding: 10px;
}



.size1{
  display: inline-block;
  width: 50px;
  height: 35px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 13px;
  cursor: pointer;
}

#btn2:hover{
  background-color: red;
  color: white;
}


.itemcontainer{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
